APP_NAME=Laravel
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
